 /* tamanho do mapa */
#map {
	  height: calc(100vh - 90px);
	/*width: 360px;*/
  }
	 
nav {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 10px 20px;
}

.popup{
    position: fixed;
    top: 80px;
    right: 20px;
    background: #222;
    color: white;
    padding: 10px 15px;
    border-radius: 6px;
    display: none;
    z-index: 9999;
}