<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
	
		<header class="header">
	    <nav class="navbar-simples">
	        <a th:href="@{/}" class="logo-navbar">
	            <img src="/images/logoi.png" alt="InfraMap">
	        </a>
	    </nav>
	</header>

	<main class="conteudof">
    <div class="container-login">

        <h1>Criar Conta</h1>
		
		<div th:if="${erroCadastro}" id="alertaErroC" class="alerta-erro">
			    <span th:text="${erroCadastro}"></span>
			</div>


        <form th:action="@{/cadastro}" method="post">

            <input type = "text" id = "nomeUsuario" name = "nomeUsuario" placeholder = "Nome" required>

            <input type = "email" name = "emailUsuario" placeholder = "Email" required>

            <input type = "password" name = "senhaUsuario" placeholder = "Senha" required>

            <select name = "tipoUsuario" required >
                <option value="" disabled selected hidden>
                    Tipo de usuário
                </option>
                <option value="Cidadao">
                    Cidadão
                </option>
                <option value="Prestador">
                    Prestador de Serviço
                </option>
            </select>

            <button type="submit">
                Cadastrar
            </button>

        </form>

        <a th:href="@{/login}">
            Login
        </a>

    </div>
	
	</main>
	<!--rodape-->
			<footer class="footer">

			    <p class="footer-titulo">
			        InfraMap
			    </p>

			    <p class="footer-descricao">
			        Sistema de Monitoramento de Obras e Ocorrências Urbanas
			    </p>

			    <p class="copyright">
			        © 2026 InfraMap. Todos os direitos reservados.
			    </p>

			</footer>
	
	<!--javascript-->
	<script src="/js/script.js"></script>
</body>
</html>