<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Ocorrências Urbanas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> <!---temporario-->
	
	<!--css-->
	<link rel="stylesheet" href="/css/style.css">
	<!--leaflet-->
	<link rel="stylesheet" href="/css/leaflet.css">
	
	     
</head>

<body>

		<header class="header">
      <nav>
		<a th:href="@{/}" class="logo-navbar">
		    <img src="/images/logoi.png" alt="InfraMap">
		</a>
		
<div class = "area-direita">
			
   <div id="containerFiltros">	
				
	     <button id="btnFiltros">☰ Filtros</button>

	     <div id="painelFiltros">

			
	<div class="categoria">Tipo</div>
	<div class="opcoesFiltro">
	<div class="opcaoFiltro" data-tipo="Obra">Obras</div>
    <div class="opcaoFiltro" data-tipo="Registro">Registros</div>
	</div>

		
	<div class="categoria">Local</div>
	<div class="opcoesFiltro">
	<div class="opcaoFiltro" data-local="Via">Via</div>
	<div class="opcaoFiltro" data-local="Prédio">Prédio</div>
	</div>

			 
	<div class="categoria">Tráfego de veículos</div>
	<div class="opcoesFiltro">
	<div class="opcaoFiltro" data-trafegov="NaoImpede">Não afeta</div>
	<div class="opcaoFiltro" data-trafegov="Dificulta">Dificulta</div>
	<div class="opcaoFiltro" data-trafegov="Impede">Impede</div>
    </div>

			  
	<div class="categoria">Tráfego de pedestres</div>
    <div class="opcoesFiltro">
	<div class="opcaoFiltro" data-trafegop="NaoImpede">Não afeta</div>
    <div class="opcaoFiltro" data-trafegop="Dificulta">Dificulta</div>
	<div class="opcaoFiltro" data-trafegop="Impede">Impede</div>
	</div>

			  
	<div class="categoria">Funcionamento</div>
	<div class="opcoesFiltro">
	<div class="opcaoFiltro" data-funcionamento="Pleno">Pleno</div>
	<div class="opcaoFiltro" data-funcionamento="Parcial">Parcial</div>
	<div class="opcaoFiltro" data-funcionamento="Fechado">Fechado</div>
   </div>

			  
	<div class="categoria">Status da obra</div>
    <div class="opcoesFiltro">
    <div class="opcaoFiltro" data-status="Planejado">Planejado</div>
	<div class="opcaoFiltro" data-status="Em andamento">Em andamento</div>
	<div class="opcaoFiltro" data-status="Em pausa">Em pausa</div>
	<div class="opcaoFiltro" data-status="Concluído">Concluído</div>
    </div>

			  
	<div class="categoria">Outros impactos</div>
    <div class="opcoesFiltro">
	<div class="opcaoFiltro" data-ruido="true">Ruído excessivo</div>
	<div class="opcaoFiltro" data-poeira="true">Poeira excessiva</div>
	<div class="opcaoFiltro" data-entulho="true">Entulho</div>
	</div>
   </div>
</div>
		
		<div th:if="${usuario == null or usuario.tipoUsuario == 'Usuario'}" class="wrapper-registro">
		<button id = "btnRegistrar" th:disabled="${usuario == null}">
			Criar registro
		</button>
		<div th:if="${usuario == null}" class="tooltip-login">
		        Faça login para fazer um registro
		    </div>
		</div>
  
		<!--botão-->
		<div th:if="${usuario != null and (usuario.tipoUsuario == 'Gestor' or usuario.tipoUsuario == 'Administrador') }">
		    <button id="btnCriarObra">
		        Criar Obra
		    </button>
		</div>
		
		
		<div th:if="${usuario == null}">
			<button class="botao-nav"th:onclick="|window.location.href='@{/login}'|">
			    Entrar
			</button>
		</div>

		
		
		<div th:if="${usuario != null}"
		     class="dropdown-usuario">

		    <button class="botao-dropdown">

		        <img src="/images/user.png"
		             class="icone-usuario">

		        <span th:text="${usuario.nomeUsuario}">
		        </span>

		    </button>

		
		<div class="menu-dropdown">
		        <a th:href="@{/perfil}">
		            Perfil
		        </a>
				
		        <a th:href="@{/sair}">
		            Sair
		        </a>

		    </div>
			
	    </div>
	
		</nav>
		</header>
		
		<div id="map"></div>
		
		
<!---------------------------------------------- popup registrar começo--------------------------------------------------------------------------->
<form id="formRegistro">
		<div id="popupRegistro" class="popup-registro">

	    <div id="barraPopupRegistro" class="barra-popup">
			
		    <h3>
		        Novo Registro
		    </h3>
			
			<span id="fecharPopup" class="fechar-popup">
			       ×
			   </span>
	     </div>

		    <input type="text" id="tituloRegistro" placeholder="Resumo" required>

		    <textarea id="descricaoRegistro" placeholder="Descrição" required></textarea>

		    <div class="grupo-campos">
		        <label>
		            Tipo
		        </label>
		        <div class="opcoes">
		            <label>
		            <input type="radio" name="tipoRegistro" value="IrregularidadeVia" required>
		             Irregularidade em via
		            </label>

		            <label>
		            <input type="radio" name="tipoRegistro" value="IrregularidadePredio">
		             Irregularidade em prédio
		            </label>

		        </div>
		    </div>

			<label>
		      Impactos
	        </label>

		    
		    <div id="camposVia">
		       
		        <div class="grupo-campos">
		            <label>
		             Tráfego de veículos
		            </label>

		            <div class="opcoes">

		                <label>
		                 <input type="radio" name="trafegoV" value="NaoImpede" required>
		                  Não impede
		                </label>

		                <label>
		                <input type="radio" name="trafegoV" value="Dificulta">
		                 Dificulta
		                </label>

		                <label>
		                <input type="radio" name="trafegoV" value="Impede">
		                 Impede
		                </label>

		            </div>
					
		        </div>


		        <div class="grupo-campos">
		            <label>
		             Tráfego de pedestres
		            </label>

		            <div class="opcoes">

		                <label>
		                <input type="radio" name="trafegoP" value="NaoImpede" required>
		                 Não impede
		                </label>

		                <label>
		                <input type="radio" name="trafegoP" value="Dificulta">
		                 Dificulta
		                </label>

		                <label>
		                <input type="radio" name="trafegoP" value="Impede">
		                 Impede
		                </label>

		            </div>
					
		        </div>

		    </div>


		    
		    <div id="camposPredio">
		        <div class="grupo-campos">

		            <label>
		             Funcionamento
		            </label>

		            <div class="opcoes">

		                <label>
		                <input type="radio" name="funcionamento" value="Pleno" required>
		                 Pleno funcionamento
		                </label>

		                <label>
		                <input type="radio" name="funcionamento" value="Parcial">
		                 Funcionamento parcial
		                </label>

		                <label>
		                <input type="radio" name="funcionamento" value="Fechado">
		                 Fechado
		                </label>

		            </div>
					
		        </div>

		    </div>


		    <!-- impactos -->
			
			<label>
				Outros
			</label>
			
		    <div class="grupo-campos">


		        <div class="opcoes-checkbox">

		            <label>
		            <input type="checkbox" id="ruidoExcessivo">
		             Ruído excessivo
		            </label>

		            <label>
		            <input type="checkbox" id="poeiraExcessiva">
		             Poeira excessiva
		            </label>

		            <label>
		            <input type="checkbox" id="entulho">
		             Entulho
		            </label>

		        </div>
				
		    </div>
			
			<!--Campos que so existem ao criar obras-->
			<div id="camposObra">

			    <div class="grupo-campos">

			        <label>Data de início</label>
			        <input type="date" id="dataInicio" required>

			    </div>

			    <div class="grupo-campos">

			        <label>Previsão</label>
			        <input type="date" id="previsao" required>
			    </div>

			    <div class="grupo-campos">

			        <label>Status</label>

			        <div class="opcoes">

			            <label>
			                <input type="radio" name="status" value="Planejado" required>
			                Planejado
			            </label>

			            <label>
			                <input type="radio" name="status" value="Em andamento">
			                Em andamento
			            </label>

			            <label>
			                <input type="radio" name="status" value="Em pausa">
			                Em pausa
			            </label>

			            <label>
			                <input type="radio" name="status" value="Concluído">
			                Concluído
			            </label>

			        </div>

			    </div>

			</div>


		    <button id="btnSalvarRegistro" type="submit">
		     Registrar
		    </button>
		</div>
</form>
<!---------------------------------------------- popup registrar fim/ popup visualizar começo--------------------------------------------------------------------------->
		
<div id="popupExibir" class="popup-exibir">

	<div id="barraPopupExibir" class="barra-popup">

	    <h3 id="tituloExibir">
	        Título
	    </h3>

		
		<div class="acoesPopup">
			
	    <button id="btnConcluirRegistro" type="button" class="btn-acao-popup" style="display:none;">
			 ✓
		</button>

	     <button id="btnReabrirRegistro" type="button" class="btn-acao-popup" style="display:none;">
              ↺
		 </button>

		<button id="btnEditarRegistro">
		<img src="/images/escrever.png">
		</button>
		
	    <span id="fecharExibir" class="fechar-popup">
	        ×
	    </span>
		
		</div>		

	</div>
	<p>
	        <b>Descrição:</b>
	        <span id="descricaoExibir"></span>
	    </p>

	    <p>
	        <b>Tipo:</b>
	        <span id="tipoExibir"></span>
	    </p>
		
		<p>
			<b>Status:</b>
			<span id="statusExibir"></span>
	    </p>	

	    <p>
	        <b>Local:</b>
	        <span id="localExibir"></span>
	    </p>

	    <!-- Via -->
	    <div id="exibirVia">

	        <p>
	            <b>Tráfego de veículos:</b>
	            <span id="trafegoVExibir"></span>
	        </p>

	        <p>
	            <b>Tráfego de pedestres:</b>
	            <span id="trafegoPExibir"></span>
	        </p>

	    </div>

	    <!-- Predio -->
	    <div id="exibirPredio">

	        <p>
	            <b>Funcionamento:</b>
	            <span id="funcionamentoExibir"></span>
	        </p>

	    </div>

	    <h4>
	        Outros
	    </h4>

	    <p>
	        <b>Ruído excessivo:</b>
	        <span id="ruidoExibir"></span>
	    </p>

	    <p>
	        <b>Poeira excessiva:</b>
	        <span id="poeiraExibir"></span>
	    </p>

	    <p>
	        <b>Entulho:</b>
	        <span id="entulhoExibir"></span>
	    </p>
		
		<button id="btnAssumirObra" type="button">
			    Assumir obra
		</button>

	    <div id="exibirObra">

	        <p>
	            <b>Responsável:</b>
	            <span id="responsavelExibir"></span>
	        </p>

	        <p>
	            <b>Data de início:</b>
	            <span id="dataInicioExibir"></span>
	        </p>

	        <p>
	            <b>Previsão:</b>
	            <span id="previsaoExibir"></span>
	        </p>
			
	    </div>
		
		<div id="camposAssumirObra" style="display:none;">

			<div class="barraAssumir">

			    <h4>Detalhes</h4>

			    <span id="fecharAssumirObra" class="fechar-assumir">
			        ×
			    </span>

			</div>
		  <div class="grupo-campos linha-campo">
		    <label>Data de início</label>
			<input type="date" id="dataInicioAssumir" required>
		  </div>

		  <div class="grupo-campos linha-campo">
		    <label>Previsão</label>
		    <input type="date" id="previsaoAssumir" required>
		  </div>

		  <div class="grupo-campos">
		    <label>Status</label>

		    <div class="opcoes">
		      <label>
		        <input type="radio" name="statusAssumir" value="Planejado" required>
		        Planejado
		      </label>

		      <label>
		        <input type="radio" name="statusAssumir" value="Em andamento">
		        Em andamento
		      </label>

		      <label>
		        <input type="radio" name="statusAssumir" value="Em pausa">
		        Em pausa
		      </label>

		      <label>
		        <input type="radio" name="statusAssumir" value="Concluído">
		        Concluído
		      </label>
		    </div>
		  </div>

		  <button id="btnConfirmarAssumir" type="button">
		    Confirmar
		  </button>

		</div>

	</div>
<!---------------------------------------------- popup visualizar fim--------------------------------------------------------------------------->

		<!--rodape-->
		<footer class="footer">

		    <p class="footer-titulo">
		        InfraMap
		    </p>

		    <p class="footer-descricao">
		        Sistema de Monitoramento de Obras e Ocorrências Urbanas
		    </p>

		    <p class="copyright">
		        © 2026 InfraMap. Todos os direitos reservados.
		    </p>

		</footer>
		
		<div id="popupCriar" class="popup">
		    Selecione o local afetado no mapa.
		</div>
		
		<input type="hidden" id="tipoUsuarioLogado" th:value="${usuario != null ? usuario.tipoUsuario : ''}">
		<input type="hidden" id="idUsuarioLogado" th:value="${usuario != null ? usuario.idUsuario : ''}">
		
		<!--Bibliotecas-->
		<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
		
	     <!--javascript-->
		 <script src="/js/leaflet.js"></script>
		 <script src="/js/mapa.js"></script>
		 <!--<script src="/js/script.js"></script>-->
		 
		
</body>

</html>