<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Ocorrências Urbanas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> <!---temporario-->
	
	<!--css-->
	<link rel="stylesheet" href="/css/style.css">
	
	<!--leaflet-->
	<link rel="stylesheet" href="/css/leaflet.css">
	    
		 
</head>

<body>

		<header class="header">
      <nav>
        <h1 class="text-left">
            Sistema de Ocorrências Urbanas
        </h1>
		
		<button id = "btnRegistrar">
			Criar registro
		</button>
		
		</nav>
		</header>
		
		<div id="map"></div>
		
		
		<!--rodape-->
		<footer>
		  Footer
	    </footer>
		
		<div id="popupCriar" class="popup">
		    Selecione o loacal afetado no mapa.
		</div>
		
		
	     <!--javascript-->
		 <script src="/js/leaflet.js"></script>
		 <script src="/js/mapa.js"></script>
		 
		
</body>

</html>