<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Ocorrências Urbanas</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"> <!---temporario-->
	
	<!--css-->
	<link rel="stylesheet" href="/css/style.css">
	
	<!--leaflet-->
	<link rel="stylesheet" href="/css/leaflet.css">
	     
</head>

<body>

		<header class="header">
      <nav>
        <h1 class="text-left">
            Sistema de Ocorrências Urbanas
        </h1>
		
		<div class = "area-direita">
		
		<button id = "btnRegistrar">
			Criar registro
		</button>
		
		
		<div th:if="${usuario == null}">
		    <a th:href="@{/login}" class="botao-login">
		        Entrar
		    </a>
		</div>

		
		
		<div th:if="${usuario != null}"
		     class="dropdown-usuario">

		    <button class="botao-dropdown">

		        <img src="/images/user.png"
		             class="icone-usuario">

		        <span th:text="${usuario.nomeUsuario}">
		        </span>

		    </button>

		
		<div class="menu-dropdown">
		        <a href="#">
		            Perfil
		        </a>
		        <a href="#">
		            Minhas Ocorrências
		        </a>
		        <a th:href="@{/sair}">
		            Sair
		        </a>

		    </div>
			
	    </div>
	
		</nav>
		</header>
		
		<div id="map"></div>
		
		<!--rodape-->
		<footer>
		  Footer
	    </footer>
		
		<div id="popupCriar" class="popup">
		    Selecione o local afetado no mapa.
		</div>
		
	     <!--javascript-->
		 <script src="/js/leaflet.js"></script>
		 <script src="/js/mapa.js"></script>
		 <script src="/js/script.js"></script>
		 
		
</body>

</html>