<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Meu Perfil</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<header class="header">
	    <nav class="navbar-simples">
	        <a th:href="@{/}" class="logo-navbar">
	            <img src="/images/logoi.png" alt="InfraMap">
	        </a>

	        <a th:href="@{/sair}" class="btn-sair-navbar" title="Sair">
	            <img src="/images/sair.png" alt="Sair">
	        </a>
	    </nav>
	</header>

<main class="pagina-perfil conteudof">

    <section class="card-perfil">

        <div class="topo-card-perfil">
            <h2>Meu Perfil</h2>

            <button id="btnEditarPerfil" class="btn-editar-perfil">
                <img src="/images/escrever.png" alt="Editar">
            </button>
        </div>

		<form th:action="@{/perfil/editar}" method="post" class="dados-perfil">

		    <p>
		      <b>Nome:</b>
		      <span id="nomeTexto" th:text="${usuario.nomeUsuario}"></span>
		      <input id="nomeInput" name="nomeUsuario" th:value="${usuario.nomeUsuario}" style="display:none;">
		    </p>

		    <p>
		      <b>Email:</b>
		      <span id="emailTexto" th:text="${usuario.emailUsuario}"></span>
		      <input id="emailInput" name="emailUsuario" th:value="${usuario.emailUsuario}" style="display:none;">
		    </p>

		    <p>
		      <b>Tipo de usuário:</b>
		      <span th:text="${usuario.tipoUsuario}"></span>
		    </p>

		    <button id="btnSalvarPerfil" type="submit" class="btn-salvar-perfil" style="display:none;">
		        Salvar alterações
		    </button>

		</form>

    </section>

    <section class="card-ocorrencias">

        <h2 th:text="${tituloLista}">Minhas Ocorrências</h2>

        <div th:if="${#lists.isEmpty(registros)}" class="sem-ocorrencias">
            Você ainda não criou nenhuma ocorrência.
        </div>

        <div th:each="registro : ${registros}" class="item-ocorrencia">

			<div class="linha-ocorrencia">
			    <h3 th:text="${registro.titulo}">Título</h3>

			    <span th:if="${registro.tipoRegistro == 'Obra'}"
			        class="tag-status"
			        th:classappend= "${registro.status == 'Planejado'} ? ' status-planejado' : (${registro.status == 'Em andamento'} ? ' status-andamento' : (${registro.status == 'Em pausa'} ? ' status-pausa' :  (${registro.status == 'Concluído'} ? ' status-concluido' : '')))"
			        th:text="${registro.status}">
			    </span>
			</div>

			<p class="descricao-ocorrencia" th:text="${registro.descricao}">
			    Descrição
			</p>

			<div class="info-ocorrencia">

			    <span th:if="${registro.tipoRegistro == 'Registro'}">
			        <b>Data:</b>
			        <span th:text="${#temporals.format(registro.dataRegistro, 'dd/MM/yyyy')}"></span>
			    </span>

			    <span th:if="${registro.tipoRegistro == 'Obra'}">
			        <b>Data de início:</b>
			        <span th:text="${#temporals.format(registro.dataInicio, 'dd/MM/yyyy')}"></span>
			    </span>

			    <span th:if="${registro.tipoRegistro == 'Obra'}">
			        <b>Previsão:</b>
			        <span th:text="${#temporals.format(registro.previsao, 'dd/MM/yyyy')}"></span>
			    </span>

			</div>
			
			<a class="btn-ver-mapa"
			   th:href="@{/(registro=${registro.idRegistro})}">
			    Ver no mapa
			</a>

        </div>

    </section>

</main>

<!--rodape-->
		<footer class="footer">

		    <p class="footer-titulo">
		        InfraMap
		    </p>

		    <p class="footer-descricao">
		        Sistema de Monitoramento de Obras e Ocorrências Urbanas
		    </p>

		    <p class="copyright">
		        © 2026 InfraMap. Todos os direitos reservados.
		    </p>

		</footer>

      <!--Javascript-->
	  <script src="/js/script.js"></script>

</body>
</html>